{% extends 'pharmacy/base.html' %}

{% block content %}
<article class="media content-section">
  <div class="media-body">
<h1>{{ atm }}</h1>

<table class="table">
  <thead>
    <tr>
      <th>Medicine Name</th>
      <th>Stock Level</th>
      <th>Price</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for atm_medicine in atm_medicines %}
    <tr>
      <td>{{ atm_medicine.medicine.name }}</td>
      <td>{{ atm_medicine.stock_level }}</td>
      <td>{{ atm_medicine.medicine.price }}</td>
      <td>{{ atm_medicine.medicine.description }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

    <a href="{% url 'add_medicine_to_atm' atm.id %}" class="btn btn-primary">Add Medicine</a>
    <a href="{% url 'medicine_usages' pk=atm.id %}" class="btn btn-success">Medicine Usages</a>
    <a href="{% url 'medicine_sales' atm_id=atm.id %}" class="btn btn-danger">Medicine Sales</a>
  </div>
</article>
{% endblock %}
